body{
  height: 100vh;
}

.fundo-azul{
  width: 50%;
  height: 100vh;
  background: var(--fundo-login);
  position: fixed;
}

.content-login{
  margin-left: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .login{
    h1{
      margin-bottom: 40px;
    }

    width: 65%;
  }
}
