@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --fundo-login: linear-gradient(67deg, rgba(0, 78, 218, 1) 0%, rgba(33, 150, 243, 1) 100%);
  --fonte-escura: #5A5A5F;
  --fonte-clara: #9e9e9e;
}

.centro {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 600;
}

label {
  font-weight: 500;
}

h1,
label {
  color: var(--fonte-escura);
}

input {
  height: 45px;
  width: 90%;
  padding-left: 10px;
}

input::placeholder {

  color: var(--fonte-clara);

}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  button{
    margin-top: 24px;
  }
}

button{
  font-size: 18px;
  height: 45px;
  width: 150px;
}
