@import "primeicons/primeicons.css";

html,
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --fundo-login: linear-gradient(67deg,
      rgba(0, 78, 218, 1) 0%,
      rgba(33, 150, 243, 1) 100%);
  --azul: #1e8ff1;
  --cor-selecao: #e9ecef;

  --fonte-escura: #5a5a5f;
  --fonte-clara: #9e9e9e;
  --azul: #1e8ff1;

  --altura-header: 64px;
  --largura-nav-contraida: 88px;
  --largura-nav-expandida: 250px;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

label {
  font-weight: 500;
}

h1,
label {
  color: var(--fonte-escura);
}

input {
  height: 45px;
}

input::placeholder {
  color: var(--fonte-clara);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.p-toast .p-toast-message .p-toast-message-content {
  padding: 1rem !important;
  border-width: 0 0 0 6px !important;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 0 0 1rem !important;
}

.p-toast .p-toast-message .p-toast-icon-close {
  width: 2rem !important;
  height: 2rem !important;
}

.p-password {
  width: 100%;

  input {
    width: 100%;
  }
}
