.p-button {
  color: #ffffff;
  background: #3b82f6;
  border: 1px solid #3b82f6;
  padding: 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
}
